<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tibame電子相簿網</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .form-group {
            margin-top: 10px;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-expand-sm bg-white navbar-black">
        <div class="container">
            <a class="navbar-brand" asp-action="Index">tibame電子相簿網管理區</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">



                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">相簿分類列表</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="CategoryCreate">相簿分類新增</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="MemberList">會員列表</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="MemberCreate">會員新增</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Logout">登出</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">@User.Identity.Name 您好</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        @RenderBody()
    </div>

    <footer class="border-top text-muted mt-3">
        <div class="container mt-3">
            &copy; @DateTime.Now.Year - tibame電子相簿網建置by <a href="#">蔡文龍</a>
        </div>
    </footer>


    <!-- 必要 JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <partial name="_ToastPartial" />
</body>

</html>
