@inject AlbumDbContext _context;

@{
    var categories = _context.TCategories.ToList();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 電子相簿網</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp_album.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="container">
            <a class="navbar-brand" asp-action="Index">tibame電子相簿網</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop"
                            data-bs-toggle="dropdown">
                            相簿分類
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var item in categories)
                            {
                                <li><a class="dropdown-item" asp-action="AlbumCategory"
                                        asp-route-Cid="@item.FCid">@item.FCname</a></li>
                            }
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="AlbumUpload">照片上傳</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login">登入管理</a>
                    </li>

                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - asp_album - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
