@model asp_album.Models.Dtos.MemberLoginDTO
@{
    ViewData["Title"] = "會員登入";
}

<h4>會員登入</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">帳號</label>
                <input type="text" name="uid" required class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">密碼</label>
                <input type="password" name="password" required class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="登入" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
